name: Update gist with WakaTime stats
on:
  schedule:
    - cron: "0 0 * * *"
jobs:
  update-gist:
    runs-on: ubuntu-latest
    steps:
      - name: waka-box
        uses: matchai/waka-box@v4.0.3
      - uses: actions/checkout@master
      - name: Update gist
        uses: matchai/waka-box@master
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          GIST_ID: 376bbc9cc397c469601ff1edc37b4d60
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
